.grid {
  display: grid;
  grid-template-columns: auto 7fr;
  grid-template-rows: auto 2fr auto 3fr 8fr;
  grid-template-areas:
    "sidebar top-search"
    "sidebar top-header"
    "sidebar header-nav"
    "sidebar graphs"
    "sidebar main";
}

.l-left-sidebar {
  background-color: #354052;
  grid-area: sidebar;
}

.l-search-bar {
  background-color: #FFFFFF;
  grid-area: top-search;
}

.l-top-header {
  padding: 0 3em;
  grid-area: top-header;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.l-header-nav {
  padding: 0 3em;
}

.l-graphs {
  background-color: #EDF2F6;
  grid-area: graphs;
}

.l-main {
  background-color: #EDF2F6;
  grid-area: main;
  display: flex;
  padding: 3em;
}

