.l-search-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;  
}

.l-search-bar li {
  padding: 20px;
  color: #67748B;
  border-right: 2px solid #a4aec05e;
  border-bottom: 2px solid #a4aec05e;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center; 
  cursor: pointer;
}

.l-search-bar li:hover:not(#search-bar) {
  background-color: #53AEF8;
  color: #ffffff;
}

#search-bar {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #A4AEC0;
}

#search-bar input {
  width: 80%;
  border: none;
  padding-left: 15px;
}

#search-bar input::placeholder {
  color: #A4AEC0;
}

#search-bar input:focus {
  outline: none;
}